<nav class='navbar navbar-dark bg-primary navbar-expand-lg sticky-top'>
    <a class='navbar-brand' routerLink=''>Crafting Calculator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class='navbar-nav' style='align-items: left'>
        <li class='nav-item' routerLinkActive='active' [routerLinkActiveOptions]="{exact:
  true}">
          <a class='nav-link' routerLink=''>Home</a>
        </li>
        <li class='nav-item' routerLinkActive='active' [routerLinkActiveOptions]="{exact:
  true}">
          <a class='nav-link' routerLink='items'>Items</a>
        </li>
        <li class='nav-item' routerLinkActive='active' [routerLinkActiveOptions]="{exact:
  true}">
          <a class='nav-link' routerLink='items/new'>New Item</a>
        </li>
      </ul>

    </div>
</nav>

<router-outlet></router-outlet>

<footer class='footer bg-light'>
  <div class='container'>
    <div class='float-left'>
      Made by the power of <img class='item-icon' [src]='itemDB.getItemByID("redstone_dust").icon' />
    </div>
    <div class='float-right'>&copy; Adam Keenan</div>
  </div>
</footer>
